/* Bio page general styles */

.bg {
  background-image: url("../images/btn_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width:320px) and (max-width:767px) {

  //Secondary navigation
  .navsec {
    display: flex;
    margin:10px 0 15px 0;
    a {
      text-decoration: none;
      font-size: 13px;
      color: white;
      padding: 4px 15px 4px 15px;
      margin: 0 8px 0 0;
      .bg();
    }
  }

  .avatar {
    display: flex;
    width: 100%;
    margin-bottom: 1.5%;

    h1{
      width:77%;
      padding: 3.5%;
      background-color: #eee;
      word-break: keep-all;
    }
  }

  p {
    font-size: 1.15em;
  }

  div.skills {
    display: flex;
    flex-wrap: wrap;

    div {
      width: 44%;
      margin: 3%;
      padding: 6% 0 6% 0;
      border: 1px black;
      border-style: solid solid solid solid;
      box-sizing: border-box;
      text-align: center;

      &:hover {
        background: #1a1b1a;
        color: white;
        font-weight: 100;
        transition-timing-function: ease-in;
        transition: 0.2s;
      }

      p {
        font-size: 0.95em;
        line-height: 1.2em;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 0;
        padding-top: 8%
      }
    }
  }

  .map {
    margin-bottom: 2%;
  }
}
