/* Bio page general styles */

.bg {
  background-image: url("../images/btn_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

ul.articles {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;

  li {
    time {
      font-style: italic;
    }
  }

  h2 {
    a {
      color: #1a1b1a;
      text-decoration: none;
    }
  }

  div img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: all 1s ease-in;
    &:hover {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  //Secondary navigation
  .navsec {
    display: flex;
    margin: 10px 0 15px 0;
    a {
      text-decoration: none;
      font-size: 13px;
      color: white;
      padding: 4px 15px 4px 15px;
      margin: 0 8px 0 0;
      .bg();
    }
  }

  ul.articles {
    li {
      width: 48%;
      margin-right: 3.5%;
      box-sizing: border-box;
      margin-bottom: 6%;
      &:nth-child(2n) {
        margin-right: 0 !important;
      }

      time {
        font-size: 0.95em;
      }

      h2 {
        font-size: 1.2em;
      }
    }
  }
}
