/* Home page general styles */

nav div a {
  color: #fff;
  text-decoration: none;
  padding-left: 10%;
  width: 100%;
}

nav div:nth-child(2) {
  transform: rotate(90deg);
}

nav div:nth-child(2) a {
  transform: rotate(-90deg);
}

nav div:nth-child(3) {
  transform: rotate(180deg);
}

nav div:nth-child(3) a {
  transform: rotate(-180deg);
}

.bg {
  background-image: url("../images/btn_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

div.links {
  div > a > svg {
    color: white;
    .bg();
  }
}
@media only screen and (min-width:320px) and (max-width:767px) {
  //Main views styles
  .home,
  .page {
    display: flex;
    flex-direction: column;

    .menu {
      display: flex;
    }

    nav div {
      display: flex;
      align-items: center;

      &:hover {
        -webkit-filter: invert(1);
        filter: invert(1);
      }
    }

    footer {
      display: flex;
      width: 100%;
      height: 4vh;
    }

    div.links {
      display: flex;
      list-style: none;
    }

    footer p {
      font-size: 13px;
      font-weight: 100;
      color: white;
      .bg();
    }

    div.links > div > a > svg {
      padding: 19%;
    }

    div.links > div {
      height: 20%;
      margin-left: 3.15vw;
    }
  }
  // Index styles
  .home {
    align-items: center;
    height: 100vh;

    //Main navigation home
    .menu {
      flex-direction: column;
      justify-content: center;
      width: 110px;
      height: 96vh;

      nav div a {
        font-size: 16px;
        line-height: 20px;
      }

      nav div {
        height: 110px;
        .bg();
        margin-top: 8px;
      }
    }

    footer {
      display: flex;
      align-items: flex-end;
      padding-bottom: 0.70vh;
    }

    div.links {
      width: 47%;
    }

    footer p {
      width: 53%;
      margin-left: 1.5vw;
      margin-bottom: 0;
      padding-left: 1.5vh;
    }
  }
  //Page styles
  .page {
    display: flex;
    padding: 2.5%;
    box-sizing: border-box;
    min-height: 100vh;
    flex-direction: column;

    h1 {
      font-size: 1.4em;
      line-height: 1.25em;
      padding-top:0;
      margin-bottom: 0;
    }

    h2 {
      font-size: 1.3em;
      line-height: 1.05em;
      margin-bottom: 1.5%;
      font-weight: 900;
    }

    //Main navigation internal links
    .menu {
      width: 100%;
      height: 12vh;

      nav div {
        .bg();
        box-sizing: border-box;
      }

      nav div a {
        font-size: 15px;
        line-height: 19px;

      }

      header {
        width: 22.7vw;
      }

      nav {
        display: flex;
        width: 80vw;
      }

      nav > div {
        width: 75px;
        height: 75px;
        margin-left: 4%;
      }
    }

    main {
      min-height: 81vh
    }

    section {
      display: flex;
      flex-wrap: wrap;
      p br {
        margin-bottom: 4%
      }
    }

    footer {
      height: 4vh;
      align-items: flex-end;


      p {
        width: 54%;
        margin-bottom: 0;
        padding-left: 2.5%;
      }
    }

    div.links {
      width: 46%;
    }
  }
}
